user = "имя пользователя в бд"
password = "Пароль бд"
host = "хост на котором работает бд"
database = "Имя бд"

SECRET_KEY = "your_secret_key" # Секретный ключ для шифрования JWT
ALGORITHM = "HS256" # Алгоритм кодировки
ACCESS_TOKEN_EXPIRE_MINUTES = 30 # Время жизни токена в минутах