user = "имя пользователя в бд"
password = "Пароль бд"
host = "хост на котором работает бд"
database = "Имя бд"

SECRET_KEY = "Секретный ключ для шифрования JWT"
ALGORITHM = "HS256 Алгоритм для создания JWT"
ACCESS_TOKEN_EXPIRE_MINUTES = 30 Время жизни токена в минутах